"*":
  welcome:
    showOnStartup: false
  core:
    disabledPackages: [
      "about"
      "archive-view"
      "autocomplete-atom-api"
      "autoflow"
      "background-tips"
      "bookmarks"
      "deprecation-cop"
      "dev-live-reload"
      "encoding-selector"
      "exception-reporting"
      "grammar-selector"
      "image-view"
      "keybinding-resolver"
      "language-clojure"
      "language-csharp"
      "language-gfm"
      "language-go"
      "language-java"
      "language-mustache"
      "language-objective-c"
      "language-ruby"
      "language-ruby-on-rails"
      "language-sass"
      "language-toml"
      "language-yaml"
      "line-ending-selector"
      "link"
      "markdown-preview"
      "metrics"
      "notifications"
      "open-on-github"
      "package-generator"
      "release-notes"
      "spell-check"
      "update-package-dependencies"
      "welcome"
    ]
    audioBeep: false
  editor:
    invisibles: {}
    fontSize: 16
    softTabs: false
    showIndentGuide: true
    tabLength: 4
  alignment: {}
  "git-diff":
    showIconsInEditorGutter: true
  jshint: {}
  "file-icons":
    forceShow: true
  minimap: {}
  "project-manager":
    sortBy: "title"
  docblockr: {}
